canvas {
  display: block;
  $canvas-width: 600px;
  width: $canvas-width;
  height: $canvas-width;
  background-color: black;
  margin: 0 auto;
  border-style: solid;
  border-color: yellow;
  border-width: 5px;
}
