* {box-sizing:border-box}


.slideshow-container {
  max-width: 1440px;
  position: relative;
  margin: auto;
}

/* Gömma dem, så att JS styr*/
.mySlides {
  display: none;
   img{
     height: 500px;
     border-radius: 20px; 
   }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.pgif{
    position: relative;
    animation: gifMove 5s infinite;
}

@keyframes gifMove {
  0%   {left: 0px;}
  50%  {left: 1250px;transform: rotate(0deg)}
  60%  {transform: rotate(180deg)}
  90% {transform: rotate(180deg)}
  100%  {left: 0;}
}

.live{
  text-align: center; 
  font-size: 25px;
}




