---
---

@import "main";

.center-element {
  display: block;
  margin: 0% auto;
}

.float-div-left {
  float: left;
  width: 50%;
}

.float-div-right {
  float: right;
  width: 50%;
}

.menu {
  font-family: menuFont;
  width: 80%;
  height: 12vh;
  margin: 5% 10%;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;

  list-style-type: none;
  border-style: solid;

  a {
    border-width: 3px 0px 7px 0px;
    opacity: 0.5;
    background-color: rgb(6, 35, 64);
    text-align: center;
    vertical-align: middle;
    line-height: 12vh;
    text-decoration: none;
    font-size: 300%;
    color: yellow;
  }

  a:hover {
    background-color: rgba(0, 0, 255, 1);
    opacity: 1;
  }
}

#current {
  color: red;
}
